@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-react/dist/esm/**/*.js";
 

@theme {
  --animate-load-down: loadDown 4s ease-in-out infinite;

  @keyframes loadDown {
    0% {
      transform: translateY(0);
      
    } 50%{
        transform: translateY(50%);
    }
    100% {
      transform: translateY(0);
      
    }
  }
  --animate-slide-infinite : slide 15s linear infinite ;
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
 
}
